{#
/**
 * @file
 * Social Icons component - Iconos de redes sociales
 */
#}


{% set custom_class = css_class|default('') %}
{% set custom_id = html_id|default('') %}
{% set social_style = style|default('default') %}
{% set social_size = size|default('medium') %}
{% set social_alignment = alignment|default('center') %}
{% set social_gap = gap|default('medium') %}

{% set wrapper =
  html_cva(
    base: ['cats-social-icons flex flex-wrap'],
    variants: {
      alignment: {
        left: 'justify-start',
        center: 'justify-center',
        right: 'justify-end'
      },
      gap: {
        small: 'gap-2',
        medium: 'gap-3',
        large: 'gap-4'
      }
    }
  )
%}

{% set wrapper_classes =
  wrapper.apply({
    alignment: social_alignment,
    gap: social_gap
  })
%}

<div class="{{ wrapper_classes }} {{ custom_class }}" data-style="{{ social_style }}" data-size="{{ social_size }}"{% if custom_id %} id="{{ custom_id }}"{% endif %}>
  {% block icons %}
  {% endblock %}
</div>
